.l-container {
  width: $W_PC;
  margin: 0 auto;
  @media screen and ( max-width: $W_PC ) {
    width: calc( 100% - 32px );
  }
}

.a-header-show {
  animation-name: header-show;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-fill-mode: forwards;
  @keyframes header-show {
    0% {
      top: -100px;
      opacity: 0;
    }
    90% { opacity: 1; }
    100% { top: 0 }
  }
}

.a-header-hide {
  animation-name: header-hide;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-fill-mode: forwards;
  @keyframes header-hide {
    0% { top: 0; }
    96% {
      top: -8px;
      opacity: 0;
    }
    97% { top: -8%; }
    100% { top: -100px; }
  }
}