.p-inner {
  display: block;
  background-color: $C_CARD;
  margin: 0 auto;
  border-radius: 4px;
  box-sizing: 0 4px 16px rgba($C_TXT, 0.2);
  border-radius: 4px;
  padding: 24px;
  max-width: 960px;
  margin-bottom: 24px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  transition: all ease 0.24s;
}